.tasks_container {
  width: 60%;
  padding: 15px;
  background-color: #fff;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 7px;
  .tasks_inner {
    .tasks_header {
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      width: 100%;
      margin-bottom: 2rem;
      padding: 5px 10px;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: capitalize;
      border-radius: 7px;
    }
    .tasks {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      border-radius: 7px;
      .task {
        width: 100%;
        padding: 7px 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      }
    }
  }
}
