<nz-layout class="main-layout">
    <nz-header>
      <!-- <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span> -->
      <div class="header_right_container">
        <div class="header_right_container_inner">
          <!-- <div class="temperature_container">
            <div class="temperature_inner">
              <img
                src="./images/day-and-night.png"
                alt=""
                class="temperatureImage"
              />
              <span class="temperature_text"
                >{{ temperatureCelsius | number : "2.1-2" }}°C</span
              >
            </div>
          </div> -->
         
          
          <button
            nz-button
            nzType="primary"
            nz-popover
            nzPopoverTitle="Settings"
            nzPopoverTrigger="click"
            [nzPopoverContent]="settingTemplate"
            [(nzPopoverVisible)]="settingpopovervisible"
            (nzPopoverVisibleChange)="settingpopoverChange($event)"
          >
            <nz-icon nzType="setting" nzTheme="twotone" />
          </button>
          <ng-template #settingTemplate>
            <a (click)="logout()">logout</a>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <nz-content class="content_layout">
        <router-outlet />
    </nz-content>
    <nz-footer class="content_footer">Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
